/* Universal elements styling */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Ubuntu', sans-serif;
   background-color: #43454D;
   color: #FFFFFF;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: auto;
}

/* Styling The Header */
.header {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: stretch;
   padding: 0px 128px;
   background: var(--BG-1, #292F36);
}

.container-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
   padding: 32px 0px;
   width: 100%;
   height: auto;
}

.nav-bar-left ul {
   display: flex;
   align-items: center;
}

.nav-bar-left a {
   text-decoration: none;
   color: #12F7D6;
}

.nav-bar-left li {
   list-style: none;
}

.nav-bar-left h2 {
   color: #12F7D6;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 30px;
   text-transform: capitalize;
}

.nav-bar-right,
.nav-bar-right .header-right {
   display: flex;
   align-items: center;
}

.nav-bar-right ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

.nav-bar-right ul li {
   margin-right: 50px;
}

#nav-bar-right-1 a,
#nav-bar-right-1 a:active {
   text-decoration: none;
   color: white;
}

#nav-bar-right-2 i {
   text-decoration: none;
}

.search-form {
   display: flex;
}

.search-button {
   background: none;
   border: none;
   cursor: pointer;
}

.search-input {
   border: 3px solid #ccc;
   border-radius: 15px;
}

/* Styling Hero-Section */
.hero-section {
   height: 900px;
   display: flex;
   padding: 64px 128px 128px 128px;
   justify-content: center;
   align-items: flex-start;
   align-self: stretch;
   background: var(--BG-1, #292F36);
   flex-direction: row;
}

.navigation-bar ul {
   display: flex;
   padding: 8px 12px;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   position: absolute;
   left: 64px;
   top: 140px;
   border-radius: 40px;
   border: 1px solid var(--White, #FFF);
   background: var(--BG-2, #1A1E23);
}

.navigation-bar li {
   display: flex;
   width: 24px;
   height: 24px;
   justify-content: center;
   align-items: center;
}


.hero-section-container {
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 64px;
   flex: 1 0 0;
}

.container-hero {
   display: flex;
   width: 1000px;
   justify-content: center;
   align-items: center;
}

#title-prof {
   color: #98FAEC;
   font-size: 50px;
   font-style: normal;
   font-weight: 300;
   line-height: 80px;
   text-transform: capitalize;
}

.hero-message-container {
   width: 200px;
   height: 700px;
   display: flex;
   padding: 0px 128px;
   justify-content: center;
   align-items: center;
   align-content: center;
   gap: 64px 128px;

}

.hero-message-container-left {
   display: flex;
   width: 315px;
   height: 489px;
   padding: 24px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 32px;
   border-radius: 160px 0px;
   border: 4px solid var(--White, #FFF);
   background: var(--BG-1, #292F36);
   box-shadow: -4px -4px 2px 0px #12F7D6;
   margin-right: 10px;
}


#profile-picture {
   width: 202px;
   height: 190px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}

#profile-picture img {
   width: 96px;
   height: 96px;
   flex-shrink: 0;
   border-radius: 48px;
   border: 3px solid #12F7D6;
}

#profile-picture #photo-name {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#profile-picture #photo-name h2 {
   color: #FFFFFF;
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 42px;
   text-transform: capitalize;
}

#profile-picture #photo-name p {
   color: #FFFFFF;
   text-align: center;
   padding-top: 0;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}

.section-texts-list {
   width: 290px;
   height: 154px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
}

.section-texts-list #texts-list {
   width: 266px;
   height: 120px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
}

#email,
#country-location,
#job-type,
#company-website {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

#programming-list ul {
   width: 290px;
   height: 18px;
   display: flex;
   align-items: flex-start;
   gap: 16px;
}

#programming-list li {
   list-style: none;
   color: black;
   display: flex;
   padding: 0px 8px;
   justify-content: center;
   align-items: center;
   gap: 16px;
   border-radius: 8px;
   background: var(--Brand-1, #12F7D6);
   color: var(--BG-1, #292F36);
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px;
}

.button-cv {
   display: flex;
   padding: 10px 15px;
   justify-content: center;
   align-items: center;
   gap: 15px;
   border-radius: 25px;
   background: var(--White, #FFF);
}

input[type="button"] {
   border: 5px solid #FFFFFF;
}


.welcome-message {
   width: 1000px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
}

#welcome-header {
   width: 400px;
   display: flex;
   height: 300px;
   flex-direction: column;
   align-items: flex-start;
   flex-shrink: 0;
   align-self: stretch;
}

#welcome-paragraph {
   padding: 0px 16px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch;
}

#welcome-paragraph p {
   color: var(--White, #FFF);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   text-transform: capitalize;
}

#welcome-paragraph h2 {
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 42px;
   text-transform: capitalize;
}

.programming-highlights {
   display: flex;
   width: 218px;
   padding: 48px 32px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 48px;
   border-radius: 80px;
   background: var(--BG-2, #1A1E23);
   box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#programming-languages {
   display: flex;
   width: 176px;
   align-items: center;
   gap: 16px;
}

#dev-tools,
#year-experience {
   display: flex;
   align-items: center;
   gap: 16px;
}

/* About Me Section */
.about-me {
   width: 100%;
   display: flex;
   padding: 128px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 128px;
   align-self: stretch;
   background: url("/brand-images/about-me-background.jpg"), center/cover no-repeat;
   background-color: rgba(12, 12, 12, 00);
}

#vector-arrows {
   display: flex;
   height: 140px;
   width: 80%;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#vector-arrows li {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 16px;
}

.about-me-container {
   display: flex;
   padding: 0px 64px 0px 128px;
   justify-content: center;
   align-items: center;
   align-content: center;
   gap: 128px;
   align-self: stretch;
}

#about-me-message {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 64px;
}

#about-me-message h3 {
   display: flex;
   padding: 16px 40px;
   align-items: flex-start;
   border-radius: 40px 0px;
   border: 4px solid var(--Brand-1, #12F7D6);
   background: var(--BG-1, #292F36);
}

#about-me-title,
#about-me-paragraph {
   display: flex;
   padding: 16px 40px;
   align-items: flex-start;
   border-radius: 40px;
}

#about-me-title {
   border: 4px solid var(--Brand-1, #12F7D6);
   background: var(--BG-1, #292F36);
}

#about-me-paragraph {
   flex-direction: column;
   gap: 16px;
   background: var(--BG-1, #292F36);
}

#about-me-pictures img {
   width: 462px;
   height: 556px;
}

/*Sytling Skills Section*/
.skills {
   display: flex;
   padding: 128px;
   flex-direction: column;
   align-items: center;
   gap: 248px;
   align-self: stretch;
   background: url("/brand-images/skills-image.png"), center/cover no-repeat;
   background-color: rgba(19, 19, 19, 0.1);
}

.skills-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

.skilss-module {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#skills-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
   align-self: stretch;
}

#skills-header h1 {
   color: var(--Brand-1, #12F7D6);
   font-family: Ubuntu;
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: 72px;
   text-transform: capitalize;
}

.main-skills-container {
   display: flex;
   width: 1222px;
   flex-direction: column;
   align-items: center;
   gap: 90px;
}

#skills-services {
   display: flex;
   width: 720px;
   justify-content: center;
   align-items: flex-start;
   gap: 128px;
}

.services-2 {
   display: flex;
   width: 291px;
   height: 132px;
   padding: 16px 24px 15px 24px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
   border-radius: 2px;
   background: #98FAEC;
}

.services-1 {
   display: flex;
   width: 288px;
   padding: 16px 24px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   flex-shrink: 0;
   border-radius: 0px 8px 8px 0px;
   background: var(--Brand-2, #98FAEC);
}

#color {
   display: flex;
   width: 8px;
   height: 132px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   flex-shrink: 0;
   border-radius: 8px 0px 0px 8px;
   background: var(--CSS, #0C73B8);
}

.services-1 img,
.services-2 img {
   width: 32px;
   height: 32px;
   border-radius: 70px;
   border: 1px solid #12F7D6;
}

.services-1 h4,
.services-2 h4 {
   color: #1A1E23;
   text-align: center;
   font-size: 8px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   text-transform: uppercase;
}

.services-1 h1,
.services-2 h1 {
   color: var(--BG-1, #292F36);
   text-align: center;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   text-transform: capitalize;
}


#programming-skills ul {
   display: flex;
   width: 121.54px;
   height: 122.88px;
   padding: 0px 0.003px 0px 0.007px;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

#programming-skills li {
   list-style: none;
}

/*Styling Works*/
.works {
   display: flex;
   padding: 128px;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
   background: url("/brand-images/works-background-image.png") center/cover no-repeat;
   background-color: rgba(19, 19, 19, 0.7);
}

#works-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#works-header h1 {
   color: var(--Brand-1, #12F7D6);
   font-family: Ubuntu;
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: 72px;
   text-transform: capitalize;
}

#works-header p {
   color: var(--White, #FFF);
   text-align: center;
   font-family: "IBM Plex Mono";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   /* 125% */
   text-transform: capitalize;
}

.main-works-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 64px;
}

.main-works-container img {
   width: 297px;
   height: 171px;
   flex-shrink: 0;
}

/*Styling Blog Section*/
.blogs {
   display: flex;
   padding: 100px 128px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 64px;
   align-self: stretch;
   background: var(--BG-1, #292F36);
}

#blogs-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#blogs-header h1 {
   color: var(--Brand-1, #12F7D6);
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   line-height: 72px;
   text-transform: capitalize;
}

#blogs-header p {
   color: var(--White, #FFF);
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   flex: 1 0 0;
}

.column-blogs {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

.blogs-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 64px;
}

/*Styling A Contact Me*/
.contact-me {
   display: flex;
   padding: 64px 0px 16px 0px;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
   background-color: #1A1E23;
}

#contact-me-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#contact-me-header h1 {
   color: #12F7D6;
   font-family: Ubuntu;
   font-size: 64px;
   font-style: normal;
   font-weight: 400;
   text-transform: capitalize;
}

#send-message {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}

#send-message h1 {
   display: flex;
   padding: 16px 40px;
   flex-direction: column;
   align-items: center;
   border-radius: 32px 0px;
   border: 2px solid var(--Brand-1, #12F7D6);
   color: #12F7D6;
}

#name,
#email,
#message {
   color: var(--Brand-1, #12F7D6);
   /* Para-U */
   font-family: Ubuntu;
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: 18px;
   /* 112.5% */
}

#send-message input {
   background-color: #1A1E23;
   border: #1A1E23;
   border-bottom: 2px solid #12F7D6;
}

#form-info {
   display: flex;
   padding: 0px 40px;
   flex-direction: column;
   align-items: center;
   gap: 64px;
   align-self: stretch;
}


.contact-me-container button {
   display: flex;
   padding: 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 20px;
   border-radius: 32px;
   background: var(--Brand-1, #12F7D6);
}

/* Styling a Footer */
footer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   align-self: stretch;
   background-color: #1A1E23;
   padding-bottom: 50px;
}

.container-footer {
   display: flex;
   padding: 0 24px;
   align-items: center;
   gap: 24px;
   align-self: stretch;
   margin: 0 200px;
}

.copyright {
   color: var(--White, #FFF);
   font-family: 'Ubuntu', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 300;
   line-height: 18px;
}

.privacy {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 32px;
}


.social-medias-footer {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 32px;
}

footer li {
   width: 32px;
   height: 32px;
   list-style: none;
   background-color: #98FAEC;
   border-radius: 48px;
   display: flex;
   padding: 8px;
   justify-content: center;
   align-items: flex-start;
}